@font-face {
    font-family: myFont;
    src: url(./assets/font/Open_Sans/OpenSans-VariableFont_wdth\,wght.ttf);
}

body {
    margin: 0;
    font-family: myFont;
    background-color: rgb(246, 247, 248);
}


.kanbanBoardTitle {
    font-size: 18px;
}

.sideblock {
    height: 100vh;
    width: 232px;
    background-color: rgb(42, 54, 71);
}

.headblock {
    width: auto;
    height: 96px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
}

.logo {
    padding-top: 100px;
    padding-bottom: 100px;
    display: flex;
    justify-content: center;
}

nav ul {
    list-style: none;
}

.navLink {
    text-decoration: none;
    color: #CDCDCD;
    display: flex;
    align-items: center;
    padding: 12px;
}

.sidelink {
    padding-bottom: 90%;
}

.icon {
    padding-right: 8px;
}

.headUserContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 50px;
}

.title {
    margin-left: 100px;
}

.logInUser {
    padding: 10px;
    border-radius: 100%;
    border: 3px solid #2A3647;
    margin-left: 8px;
}

.width100 {
    width: 100%;
}

.red {
    color: red;
}

.displayFlex {
    display: flex;
}

h1 {
    font-size: 48px;
}

.divBoard {
    margin-left: 300px;
    margin-right: 50px;
}