.drag-area {
    height: 688px;
    width: 252px;
    margin-bottom: 50px;
    display: flex;
    align-items: flex-start;
}

.drag-area-highlight {
    background-color: rgba(0, 0, 0, 0.2);
}

.todo {
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
}

.statusButton {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.paddingRight {
    padding-right: 10px;
}

.addTask {
    display: flex;
    justify-content: center;
    align-items: center;
}

.spaceBetween {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search {
    border: none;
    height: 32px;
    width: 250px;
}

.searchContainer {
    height: 48px;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    margin-right: 16px;
    width: 312px;
}

.separator {
    height: 31px;
    width: 1px;
    background-color: #D1D1D1;
}

.buttonContainer {
    height: 48px;
    width: 160px;
    border-radius: 10px;
    background-color: #2A3647;
}

Button {
    height: 24px;
    width: 92px;
    color: #FFFFFF;
    font-size: 18px;
    border: none;
    background-color: #2A3647;
}

.boardAddTask {
    background-color: white;
    border-radius: 30px;
    border: 2px solid #e4dedc;
    width: 1000px;
    display: flex;
    justify-content: center;
    margin-left: 150px;
}

.widthBoard {
    width: 80%;
}

.bottomInfo {
    display: flex;
    justify-content: space-between;
}
