<section id="boardAddTask" class="boardAddTask positionTask">
    <div class="widthBoard">
        <div class="boardtitle addTaskBoard">
            <div class="addTaskContainer">
                <h2>Add Task</h2>
                <button class="closeAddTask" onclick="closeTask()"><img src="./assets/img/iconoir_cancel.png"></button>
            </div>
            <div class="addTaskContainer">
                <div>
                    <div>
                        <div class="displayFlex">
                            <p>Title</p>
                            <p class="red">*</p>
                        </div>
                        <input class="inputTitle" type="text" placeholder="enter a title" required>
                    </div>
                    <div class="flexdirection">
                        <label for="description">Description</label>
                        <textarea class="inputDescription marginTop" id="description" type="text"
                            placeholder="Enter a Description"></textarea>
                    </div>
                    <div class="flexdirection">
                        <label for="assigned">Assigned to</label>
                        <select class="inputTitle marginTop" name="text" id="assigned">
                            <option class="selector_Txt" value="" disabled selected>Select contact to assign
                            </option>
                            <option value=""></option>
                        </select>
                    </div>
                </div>
                <div class="separatorTask"></div>
                <div>
                    <div class="flexdirection">
                        <div class="displayFlex">
                            <p>Due date</p>
                            <p class="red">*</p>
                        </div>
                        <input class="inputTitle" type="date" required>
                    </div>
                    <div>
                        <p>Prio</p>
                        <div class="marginButtomButton">
                            <button id="urgent" class="buttonContainerPrio" onclick="urgent()">Urgent <img
                                    id="urgentIcon" src="./assets/img/Prio_Urgent.svg"></button>
                            <button id="medium" class="buttonContainerPrio" onclick="medium()">Medium <img
                                    id="mediumIcon" src="./assets/IMG/Prio_Medium.svg"></button>
                            <button id="low" class="buttonContainerPrio" onclick="low()">Low <img id="lowIcon"
                                    src="./assets/img/Prio_LOw.svg"></button>
                        </div>
                    </div>
                    <div class="flexdirection">
                        <div class="displayFlex alaignItems">
                            <label id="category">Category</label>
                            <p class="red">*</p>
                        </div>
                        <select class="inputTitle marginTop" name="text" id="category">Select task category
                            <option value="technicalTask">Technical Task</option>
                            <option value="userStory">User Story</option>
                        </select>
                    </div>
                    <div class="divPaddingBottum">
                        <p>Subtasks</p>
                        <div class="inputTitle divSubtask">
                            <input id="new-subtask" class="subtasksInputfield" type="text">
                            <button class="subtaskButton" onclick="addCurrentSubtask()"><img
                                    src="assets/IMG/add_subtask_img.svg"></button>
                        </div>
                        <ul id="list"></ul>
                    </div>
                </div>
            </div>
            <div class="bottomInfo">
                <div class="displayFlex">
                    <p class="red">*</p>
                    <p>This field is required</p>
                </div>
                <div class="divButtonButtom">
                    <button onclick="clearTask()" class="buttonContainerWhite">Clear <img src="./assets/IMG/x_icon_clear.svg"></button>
                    <button class="buttonContainerdark">Create Task <img src="assets/IMG/clear_Img.svg"></button>
                </div>
            </div>
        </div>
    </div>
</section>