<div class="sideblock">
    <a class="logo" href="./index.html"><img src="./assets/img/Capa 2.png" alt="logo"></a>
    <div class="sidelink">
        <a class="navLink_Summary" href="#">
            <div class="icon_container">
                <img class="icon_summary" src="./assets/img/Icons.png">
            </div>
            <span class="txt_Summary">Summary</span>
        </a>
        <a class="navLink_Add_Task" href="#">
            <div class="icon_container">
                <img class="icon_add" src="./assets/img/Icons (1).png">
            </div>
            <span class="txt_add">add Task</span>
        </a>

        <a class="navLink_Board" href="#">
            <div class="icon_container_board">
                <img class="icon_board" src="./assets/img/Icons (3).png">
            </div>
            <span class="txt_Board">Board</span>
        </a>

        <a class="navLink_Contact" href="#">
            <div class="icon_container">
                <img class="icon_contact" src="./assets/img/Icons (2).png">
            </div>
            <span class="txt_Contacts">Contacts</span>
        </a>

    </div>
    <div class="bottom_Side_Block">
        <a class="navLink" href="#">Privacy Policy</a>
        <a class="navLink" href="#">Legal notice</a>
    </div>


</div>




<div class="headblock">
    <div class="title">
        <span class="kanbanBoardTitle">Kanban Projekt Management Tool</span>
    </div>
    <div class="headUserContainer">
        <img src="./assets/img/help.png">
        <div class="logInUser_Container">
            <span class="logInUser">LT</span>
        </div>
        
    </div>
</div>

