<div class="sideblockMobil d-none">
    <div class="sidelinkMobil">
        <a id="navlinkSummarymobil" class="navLinkSummaryMobil" href="./summary.html">
            <div class="iconContainerMobil">
                <img class="iconSummaryMobil" src="./assets/IMG/Icons.png">
            </div>
            <span class="txtSummaryMobil">Summary</span>
        </a>
        <a id="navlinkaddTaskmobil" class="navLink_Add_Task_mobil" href="./add_task.html">
            <div class="icon_container_mobil">
                <img class="icon_add_mobil" src="./assets/IMG/Icons (1).png">
            </div>
            <span class="txt_add_mobil">Add Task</span>
        </a>
        <a id="navlinkBoardMobile" class="navLink_Board_mobil" href="./board.html">
            <div class="icon_container_board_mobil">
                <img class="icon_board_molil" src="./assets/IMG/Icons (3).png">
            </div>
            <span class="txt_Board_mobil">Board</span>
        </a>
        <a id="navlinkContactMobile" class="navLink_Contact_mobil" href="./contact.html">
            <div class="icon_container_mobil">
                <img class="icon_contact_mobil" src="./assets/IMG/Icons (2).png">
            </div>
            <span class="txt_Contacts_mobil">Contacts</span>
        </a>
    </div>
</div>