body {
  margin: 0;
  background-color: #f6f7f8;
  font-family: "Inter";
  font-weight: 400;
}

.add_task_content {
  display: flex;
  flex-direction: column;
  margin-left: 328px;
  margin-top: 200px;
}

.headline_addTask {
  display: flex;
  gap: 1px;
  font-size: 61px;
}

.tomanySubtask {
  font-size: 15px;
  color: red;
  font-weight: bolder;
}

.error-border {
  border: 2px solid red !important;
}

.error-borderBottom {
border-bottom: 3px solid red  !important;
}
.missing-input-border {
  border: 2px solid red !important;
}
.invalid-date-border {
  border: 2px solid red !important;
}

.invalid-border-Subtask {
  border: 1px solid red !important;
}

.invalid-input.Subtask {
  border-bottom: 3px solid red !important;
}


.EditSubtaskButton {
  border: none;
  background-color: #f6f7f8;
  width: 24px;
  height: 24px;
  padding-right: 5px;
}

.separatorSubtask {
  height: 31px;
  width: 1px;
  background-color: #d1d1d1;
  margin-left: 5px;
  margin-right: 5px;
}

.header_COntainer {
  display: flex;
}

.addTask_Container {
  display: flex;

  margin-top: 15px;
}

.input_Task_Container_left {
  width: 440px;
  height: 376px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.Title_Container {
  gap: 8px;
  display: flex;
  flex-direction: column;
}

.Title_Header {
  width: 440px;
  height: 24px;
  font-size: 20px;
  line-height: 24px;
  font-family: "Inter";
  font-weight: 400;
}

.input_Title {
  width: 440px;
  height: 48px;
  border-radius: 10px;
  border: 1px;
  gap: 10px;
  display: flex;
  font-size: 20px;
  line-height: 24px;
  font-family: "Inter";
  font-weight: 400;
  outline: none;
}

.Description_Container {
  width: 440px;
  height: 168px;
  margin-top: 8px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.Description_Header {
  font-size: 20px;
  line-height: 24px;
  font-family: "Inter";
  font-weight: 400;
}

.input_Description {
  width: 440px;
  height: 136px;
  display: flex;
  gap: 10px;
  border-radius: 10px;
  border: 1px;
  font-size: 20px;
  line-height: 24px;
  font-family: "Inter";
  font-weight: 400;
  outline: none;
  resize: none;
}

::placeholder {
  color: #d1d1d1;
}

.AssignedTO_Container {
  width: 440px;
  height: 80px;
  margin-top: 8px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.Assign_Header {
  font-family: "Inter";
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  width: 112px;
  height: 24px;
}

.select_container {
  width: 420px;
  height: 48px;
  border-radius: 10px;
  border: 1px solid #d1d1d1;
  display: flex;
  justify-content: space-between;
  font-family: "Inter";
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  background-color: #ffffff;
  padding: 10px;
  cursor: pointer;
  z-index: 1;
}

.arrow_drop_downaa {
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.Selection_Container {
  width: 440px;
  height: 230px;
  background-color: #ffffff;
  position: absolute;
  margin-top: 78px;
  border-radius: 10px;
  border-radius: 10px;
  border: 1px solid #d1d1d1;
  padding-right: 0px;
  padding-top: 9px;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  cursor: pointer;
}

.profile_Container {
  display: flex;
  width: 420px;
  height: 56px;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  padding-right: 8px;
  border: 1px solid rgba(255, 255, 255, 0);
}

.bg_color {
  background-color: #2a3647;
}

.color_white {
  color: #ffffff;
}

.profile_Containerselected:hover {
  background-color: #091931;
}

.profile_Container:hover {
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.profile_container_header {
  width: 225px;
  height: 42px;
  gap: 16px;
  display: flex;
  align-items: center;
  padding: 7px 16px 7px 16px;
}

.check_img {
  width: 24px;
  height: 24px;
}

.checked_img {
  width: 24px;
  height: 24px;
}

.profile_Badge_assign {
  width: 42px;
  height: 42px;
  border-radius: 45px;
  display: flex;
  border: 2px solid #ffffff;
  justify-content: center;
  align-items: center;
  color: white;
}

.orange {
  background-color: #ff5733;
}

.gelb {
  background-color: #ffc300;
}

.grün {
  background-color: #33ff57;
}

.türkis {
  background-color: #33fff3;
}

.blau {
  background-color: #3357ff;
}
.gray {
  background-color: gray;
}

.lila {
  background-color: #a133ff;
}

.pink {
  background-color: #ff33a1;
}

.hellorange {
  background-color: #ff8f33;
}

.required_info_Container {
  margin-top: 25px;
}

.Selected_profiles_Container {
  display: flex;
  max-width: 430px;
  flex-wrap: wrap;
}

.separatorTask {
  width: 2px;
  height: 450px;
  background-color: #e4dedc;
}

.alaignItems {
  align-items: center;
}

.flexdirection {
  display: flex;
  flex-direction: column;
  margin-top: 16px;
  margin-bottom: 8px;
}

.red {
  color: red;
}

.dividing_Line {
  width: 0px;
  height: 424px;
  border: 1px solid #d1d1d1;
  margin-left: 48.25px;
}

.Task_Container_right {
  width: 440px;
  height: 416px;
  margin-left: 46.25px;
}

.date_Container {
  display: flex;
  flex-direction: column;
  width: 440px;
  height: 96px;
  display: flex;
  margin-bottom: 8px;
  gap: 8px;
}

.Date_header {
  font-family: "Inter";
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
}

.input_date {
  height: 48px;
  width: 440px;
  border: 1px solid #d1d1d1;
  background-color: #ffffff;
  border-radius: 10px;
  font-family: "Inter";
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  border: none;
}

.img_calender {
  width: 24px;
  height: 24px;
}

.Prio_Container {
  width: 440px;
  height: 88px;
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.prio_Header {
  font-family: "Inter";
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  display: flex;
}

.Prio_btn_Container {
  width: 440px;
  height: 56px;
  display: flex;
  gap: 16px;
}

.Prio_Btn {
  width: 136px;
  height: 56px;
  border-radius: 10px;
  padding: 16px 10px 16px 10px;
  gap: 8px;
  display: flex;
  font-family: "Inter";
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  background-color: #ffffff;
  align-items: center;
  justify-content: center;
  border: 1px solid #ffffff;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
}

.Prio_Btn:hover {
  box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}

.bg_urgent_selected {
  background-color: #ff3d00;
}

.bg_Medium {
  background-color: #ffa800;
}

.bg_Low {
  background-color: #7ae229;
}

.cataegory_Container {
  width: 440px;
  height: 80px;
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.category_Header {
  font-family: "Inter";
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
}

.select_Category {
  width: 440px;
  height: 48px;
  border-radius: 10px;
  border: 1px solid #ffffff;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  font-family: "Inter";
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
}

.Selection_Container_Category {
  width: 447px;
  background-color: #ffffff;
  position: absolute;
  margin-top: 74px;
  border-radius: 10px;
  border-radius: 10px;
  border: 1px solid #d1d1d1;
  padding-right: 0px;
  padding-top: 9px;
  display: flex;
  flex-direction: column;
}

.ul_subtasks {
  display: flex;
  gap: 10px;
  flex-direction: column;
  height: 85px;
  overflow-y: auto;
  padding: 10px;
  z-index: 1;
}

.ChangeSubtask {
    min-height: 32px;
    border: 1px solid #ddd; 
    background-color: #f9f9f9; 
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.imgCheckedIcon {
  height: 22px;
  width: 22px;
}
.subTaskInput {
  border: none;
  font-size: 18px;
  border-bottom: 3px solid #29abe2;
  background-color: #f6f7f8;
}
.li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}


 .subtaskempty{
    font-size: 12px;
 }
.changeButtonDeleteAndEdit {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: #F6F7F8;
}
.deleteSubtask {
    border: none;
}

.changeButtonDeleteAndEdit {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: #f6f7f8;
}
.deleteSubtask {
  border: none;
}

.userStory,
.technical_Task {
  display: flex;
  padding: 12px 16px 12px 16px;
  font-family: "Inter";
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
}

.userStory:hover {
  cursor: pointer;
  background-color: #e4dedc;
}

.technical_Task:hover {
  cursor: pointer;
  background-color: #e4dedc;
}

.Subtasks_Container {
  width: 440px;
  height: 80px;
  display: flex;
  gap: 8px;
  flex-direction: column;
  margin-top: 24px;
}

.Subtasks_Header {
  width: 88px;
  height: 24px;
  font-family: "Inter";
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
}

.Subtask_Inputfield_Container {
  width: 440px;
  height: 48px;
  border: 1px solid #d1d1d1;
  border-radius: 10px;
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Subtasks_Inputfield {
  border: none;
  flex: 1;
  height: 24px;
  font-family: "Inter";
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
}

.Subtasks_Btn {
  border: none;
  background-color: transparent;
  width: 24px;
  height: 24px;
  padding-right: 10px;
  cursor: pointer;
}

input:focus {
  outline: none;
}

.Category_Input {
  border: none;
  font-family: "Inter";
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: black;
}
.emptySubtaskicon {
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.deleteButton {
  cursor: pointer;
}

.clear_COntainer {
  display: flex;
  gap: 16px;
  margin-top: 20px;
}

#SubtaskLengthReached {
  margin-left: 10px;
  margin-top: 4px;
}
.ForwardingBoard {
  position: absolute;
  bottom: -70px;
  right: 0;
  left: 50%;
  z-index: 999;
  width: 325px;
  height: 80px;
  background-color: #2a3647;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  color: white;
  border-radius: 20px;
  animation-name: slide-CreateTask;
  animation-duration: 1s;
  animation-delay: 0.2s;
  animation-fill-mode: forwards;
}

@keyframes slide-CreateTask {
  from {
    bottom: -70px;
  }

  to {
    bottom: 50%;
  }
}

.headline_addTask {
  margin-block-start: 0;
  margin-block-end: 0;
}

.Btn_Container {
    display: flex;
    gap: 500px;
   margin-top: 100px;
    align-items: center;
    margin-left: 328px;
    
    
}

.clear_Btn {
  width: 110px;
  height: 56px;
  border-radius: 10px;
  border: 1px solid #2a3647;
  background-color: #f6f7f8;
  padding: 16px;
  display: flex;
  gap: 4px;
  align-items: center;
  font-family: "Inter";
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  cursor: pointer;
}

.clear_Btn:hover {
  border-color: #29abe2;
  color: #29abe2;
}

.subtasksValidation {
  display: flex;
  margin-left: 48px;
  color: red;
  text-decoration: underline;
  font-size: 13px;
}

.subtaskError {
  display: flex;
  flex-direction: column;
}

.showShubtaskError {
  display: flex;
  color: red;
  font-size: 15px;
  font-weight: bolder;
}

.Create_Btn {
  width: 183px;
  height: 56px;
  border-radius: 10px;
  padding: 16px;
  display: flex;
  gap: 4px;
  align-items: center;
  background-color: #2a3647;
  font-family: "Inter";
  font-weight: 700;
  font-size: 20px;
  line-height: 25.2px;
  color: #ffffff;
  cursor: pointer;
}

.Create_Btn:hover {
  background-color: #29abe2;
  border-color: #29abe2;
}

.clear-icon {
  height: 24px;
  width: 24px;
}

.missingInput {
  color: red;
  font-size: 16px;
  font-weight: bolder;
}

.create_icon {
  height: 24px;
  width: 24px;
}

.d_none {
  display: none;
}

.deleteSubtask_Btn {
  border: none;
  background-color: transparent;
  height: 24px;
  cursor: pointer;
  margin-right: -15px;
}
