body {
    margin: 0;
    font-family: 'Inter';
    background-color: rgb(246, 247, 248);
    overflow-x: hidden;
}

.Contact-Container {
    display: flex;
    border-radius: 10px;
}

.emptySubtaskicon {
    width: 25px;
    height: 30px;
}

.Subtasks_Btn {
    border: none;
    background-color: #FFFFFF;
    width: 24px;
    height: 24px;
    padding-right: 25px;
    cursor: pointer;
}

h2 {
    font-size: 40px;
    word-wrap: break-word;
}

label {
    font-size: 16px;
    margin-bottom: 8px;
    margin-top: 8px;
}

.title {
    font-size: 16px;
    margin-bottom: 8px;
    margin-top: 8px;
}

.drag-area {
    flex-grow: 1;
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    box-sizing: border-box;
    overflow: hidden;
    height: 100%;
}

#boardAddTask, #darkOverlay {
    display: none;
}

#boardAddTask.visible, #darkOverlay.visible {
    display: block;
}
.fiedIsempty {
    display: flex;
    border: dotted 1px gray;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    background-color: #E7E7E7;
    width: 250px;
}

.fiedIsempty.visibleContainer {
    display: none;
}
.drag-area-highlight {
    background-color: rgba(0, 0, 0, 0.2);
}
.urgent {
    background-color: red !important;
    color: white !important;
}

.medium {
    background-color: orange !important;
    color: white !important;
}

.low {
    background-color: limegreen !important;
    color: white !important;
}

.activeMedium {
    background-color: orange !important;
    color: white !important;
}
.hiddenToDo {
    display: none !important; 
}
.no-scroll {
    overflow: hidden;
}
.todo {
    background-color: white;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.35), 0px 3px 5px rgba(0, 0, 0, 0.5);
    border-radius: 24px;
    margin-bottom: 10px;
    padding: 16px;
    min-height: 263px;
    width: 220px;
    word-break: break-word;
    position: relative;
}

.todo:hover {
    transform: rotate(3deg);
    cursor: pointer;
}

.fieldElement {
    transition: all 0.3s ease;
    margin: 12px;
}


.fieldElement:hover {
    background-color: #2A3A51;
    height: 50px;
}

h3 {
    margin: 0;
}

.boardContacts {
    display: flex;
    max-width: 120px;
}

.boardAddTask::-webkit-scrollbar {
    scrollbar-width: none;
}

.boardAddTask::-webkit-scrollbar-track {
    background: #f1f1f1;
}

.boardAddTask::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 10px;
}

.boardAddTask::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.todo-detail p {
    white-space: normal;
    word-wrap: break-word;
    max-width: 100%;
}

.subtaskImgContent {
    display: flex;
    margin-left: 0px;
    cursor: pointer;
}

.todo-detail {
    display: block;
}

.contactCircle {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    margin: 2px;
}

.contact-iconBoard {
    display: inline-flex;
    border-radius: 100%;
    width: 32px;
    height: 32px;
    justify-content: center;
    align-items: center;
    border: 2px solid white;
    margin-right: -8px;
    background-color: #3357FF;
    color: white;
    font-weight: 300;
}


.contact-icon {
    justify-content: center;
    border: 2px solid white;
    border-radius: 100%;
    width: 33px;
    height: 33px;
    display: flex;
    align-items: center;
    color: white;
    font-weight: 300;
}

.title {
    font-size: 16px;
}

.subtasks-container {
    margin-top: 10px;
}

.color_white {
    color: white;
}

.EditSubtaskButton {
    border: none;
    background-color: #FFFFFF;
    width: 24px;
    height: 24px;
    padding-right: 40px;
    cursor: pointer;
}

.bg_color {
    background-color: #2A3647;
}

.imgCheckedIcon {
    width: 22px;
    height: 22px;
}

.subtaskstext {
    margin-top: 18px;
    cursor: pointer;
}

.editSubtaskheadlineContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 330px;
    border: 1px solid #ddd;

    padding: 10px;
}

.subtaskEditDiv {
    display: flex;
    align-items: center;
    margin-left: 0px;
}


.text {
    font-size: 24px;
    font-weight: bolder;
    cursor: pointer;
}


.dateEdit {
    display: flex;
    margin-top: 40px;
}

.checkbox {
    scale: 1.5;
    cursor: pointer;
}

.task-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}


.boardContacts {
    display: flex;
}

.priority-icon img {
    width: 24px;
    height: 24px;
}

.prioicon {
    display: flex;
}

.prioicon-imgSection {
    display: flex;
}

.contact-icon {
    border-radius: 100%;
    width: 32px;
    height: 32px;
    justify-content: center;
    align-items: center;
    border: 2px solid white;
    display: flex;
}

.checkboxtext {
    font-size: 18px;
    cursor: pointer;
}

.subtask-item {
    position: relative;
    display: flex;
    align-items: center;
    gap: 12px;
    margin-right: 5px;
}

#subtasksContainer {
    display: flex;
    cursor: pointer;
    flex-direction: column;
    height: 90px;
    overflow-y: auto;
    padding: 10px;
    gap: 10px;

    scrollbar-color: #888 #e0e0e0;
    overflow-x: hidden;
}

.gray {
    background-color: gray;
}

.progress-container {
    display: flex;
    align-items: center;
}

.tomanySubtask {
    font-size: 15px;
    color: red;
    font-weight: bolder;
}

.progress-bar {
    width: 200px;
    height: 10px;
    background-color: #e0e0df;
    border-radius: 5px;
    margin-right: 15px;
    position: relative;
}

.progress {
    height: 100%;
    background-color: #4caf50;
    border-radius: 5px;
    transition: width 0.3s ease;
}

.statusButton {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.paddingRight {
    padding-right: 10px;
}

.addTask {
    display: flex;
    justify-content: center;
    align-items: center;
}


.spaceBetween {
    display: flex;
    justify-content: space-between;
}

.spaceBetween1 {
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
}

.alignCenter {
    align-items: center;
}

.search {
    height: 32px;
    width: 225px;
    border: 2px solid transparent;
    border-radius: 10px;
    font-size: 20px;
    font-weight: bolder;
    cursor: pointer;
    box-sizing: border-box;
}

.search:focus {
    outline: none;
}



.searchContainer {
    height: 48px;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    margin-right: 40px;
    width: 312px;
    box-sizing: border-box;
    border: solid 0.5px;
}

.searchContainer:focus-within {
    border: 2px solid #94D5F0;
    /* Blauer Rand, wenn ein Kindelement den Fokus hat */
}

.separator {
    height: 31px;
    width: 1px;
    background-color: #D1D1D1;
    margin-left: 15px;
}

.buttonContainer {
    height: 48px;
    width: 160px;
    border-radius: 10px;
    background-color: #2A3647;
}


Button {
    height: 24px;
    width: 92px;
    color: #FFFFFF;
    font-size: 18px;
    border: none;
    background-color: #2A3647;
}

.prioEditSection {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
    flex-direction: column;
}

.subTaskInput {
    border: none;
    font-size: 18px;
    border-bottom: 3px solid #29ABE2;
    padding-block: 0px;
    padding-inline: 0px;
}
.error-border {
    border: 2px solid red !important;
  }

.error-borderBottom {
  border-bottom: 3px solid red  !important;
}
.boardAddTask {
    background-color: white;
    border-radius: 30px;
    border: 2px solid #e4dedc;
    display: flex;
    justify-content: center;
    height: 890px;
    width: 1116px;
    overflow-x: hidden;
}

.widthBoard {
    width: 90%;
    margin-left: 50px;
}

.bottomInfo {
    display: flex;
    justify-content: space-between;
    position: fixed;
    max-height: 60px;

    left: 40px;
    right: 50px;
    background-color: white;
    z-index: 1;
    padding: 10px;
}

.bottomInfoEdit {
    display: flex;
}

.redrequired {

    color: red;
}

.EditSubTaskcheck {
    width: 22px;
    height: 22px;
}

.deleteSubTaskcheck {
    width: 24px;
    height: 24px;
}

/*Header*/
.kanbanBoardTitle {
    font-size: 20px;
}

nav ul {
    list-style: none;
}

.icon {
    padding-right: 8px;
}

.width100 {
    width: 100%;
}

.red {
    color: red;
}

.displayFlex {
    display: flex;
    cursor: pointer;
    padding-left: 8px;
    padding-right: 20px;
}

.Titleleft {
    display: flex;
    margin-top: 94px;
}

.divPaddingBottum {
    margin-top: -10px;
}

.editSubtask {
    word-break: break-word;
    display: flex;
    flex-direction: column;
}

.HeadContainerBoard {
    margin-top: 140px;
    width:100%
}

h1 {
    font-size: 61px;
}

.orange {
    background-color: #FF5733;
}

.gelb {
    background-color: #FFC300;
}

.grün {
    background-color: #33FF57;
}

.türkis {
    background-color: #33FFF3;
}

.blau {
    background-color: #3357FF;

}

.lila {
    background-color: #A133FF;
}

.pink {
    background-color: #FF33A1;
}

.hellorange {
    background-color: #FF8F33;
}

/*Add Task*/
.divBoard {
    margin-left: 350px;
    margin-right: 160px;
}

.addTaskContainer {
    display: flex;
    justify-content: space-between;
    margin-top: -100px;
}

.noTasks {
    grid-column: span 2;
    text-align: center;
    background-color: #dadada;
    color: #999;
    border: 2px dotted #ccc;
    padding: 10px;
    border-radius: 5px;
    display: block;
    width: 250px;
}

.inputTitle {
    width: 440px;
    height: 48px;
    border-radius: 10px;
    border: 1px solid #D1D1D1;
    margin-bottom: 24px;
    font-size: 20px;
    font-family: 'Inter';
}

.inputTitleDate {
    width: 440px;
    height: 48px;
    border-radius: 10px;
    border: 1px solid #D1D1D1;
    margin-bottom: 24px;
    font-size: 20px;
    font-family: 'Inter';
    cursor: pointer;
}

.inputDescription {
    width: 440px;
    height: 120px;
    border-radius: 10px;
    border: 1px solid #D1D1D1;
    margin-bottom: 24px;
    font-size: 20px;
    resize: none !important;
    font-family: 'Inter';
}

.description {
    font-weight: 300;
    color: #A8A8A8;
    overflow: auto;
    max-height: 170px;
}

.marginTop {
    margin-top: 6px;
}

.divButtonButtom {
    width: 334px;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    margin-top: 40px;
}

.buttonContainerWhite {
    height: 56px;
    width: 126px;
    border-radius: 10px;
    background-color: white;
    color: black;
    border-radius: 10px;
    border: 1px solid #2A3647;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.buttonContainerdark {
    height: 56px;
    width: 160px;
    border-radius: 10px;
    background-color: #2A3647;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.selectContact {
    display: flex;
    align-items: center;
}

.buttonContainerPrio {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 56px;
    width: 136px;
    border-radius: 10px;
    gap: 10px;
    background-color: white;
    color: black;
    border: 1px solid #eceef2;
}

.marginButtomButton {
    display: flex;
    gap: 20px;
}


.subtasksInputfield {
    border: none;
    flex: 1;
    width: 350px;
    margin-left: 2px;
    margin-right: 30px;
    height: 40px;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
}

.subtasksInputfield:focus {
    border: none;
    outline: none;
}

.subtaskButton {
    background-color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 25px;
    margin-right: 6px;
    padding: 0;
    border-radius: 50px;
}

.divSubtask {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.subtaskButton:hover {
    background-color: #eceef2;
}

.subtaskList {
    background-color: #FFFFFF;
    width: 30px;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.5);
    /* Dunkler Balken */
    border-radius: 10px;
}

ul {
    font-size: 20px;
    margin-block-start: 0em;
    margin-block-end: 0em;
    padding-inline-start: 10px;
}

li {
    padding-left: 0px;
    display: flex;
}

.addSubTask {
    width: 24px;
    height: 24px;
}

.addSubTaskcheck {
    width: 24px;
    height: 24px;
    background: black;
}

.subtaskEditInput {
    border: none;
}

.subtaskEditInput:focus {
    border: none;
    outline: none;
}

.positionTask {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.closeAddTask {
    background-color: #FFFFFF;
    margin-top: 50px;
}

.curser {
    cursor: pointer;
}

.AssignedTO_Container {
    width: 440px;
    height: 80px;
    margin-top: 8px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.Assign_Header {
    font-family: 'Inter';
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    width: 112px;
    height: 24px;
}

.separatorSubtask {
    height: 31px;
    width: 1px;
    background-color: #D1D1D1;
    margin-left: 5px;
    margin-right: 5px;
}

.select_container {
    width: 428px;
    height: 48px;
    border-radius: 10px;
    border: 1px solid #D1D1D1;
    display: flex;
    justify-content: space-between;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    background-color: #FFFFFF;
    padding: 10px;
    z-index: 3;
    cursor: pointer;
}

.arrow_drop_downaa {
    width: 24px;
    height: 24px;
}

.Selection_Container {
    width: 448px;
    height: 200px;
    background-color: #FFFFFF;
    position: absolute;
    margin-top: 74px;
    border-radius: 10px;
    border: 1px solid #D1D1D1;
    padding-right: 0px;
    padding-top: 9px;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    z-index: 2;
}

.d_none {
    display: none;
}

.Selected_profiles_Container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    max-width: 350px;
    flex-wrap: wrap;
}

.profile_Container {
    display: flex;
    width: 426px;
    height: 56px;
    justify-content: space-between;
    align-items: center;
}

.profile_container_header {
    width: 225px;
    height: 42px;
    gap: 16px;
    display: flex;
    align-items: center;
    padding: 7px 16px 7px 16px;
}

.check_img {
    width: 24px;
    height: 24px;
}

.checked_img {
    width: 24px;
    height: 24px;
}

.profile_Badge_assign {
    width: 42px;
    height: 42px;
    border-radius: 45px;
    display: flex;
    border: 2px solid #FFFFFF;
    justify-content: center;
    align-items: center;
    color: white;
}

.bg_color {
    background-color: #2A3647;
}

.color_white {
    color: #FFFFFF;
}

.contact-box {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
    cursor: pointer;
}

.profilebadge {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin-right: 8px;
}

.assigned-contacts {
    margin-left: 12px;
}

.contact-content {
    display: flex;
    align-items: center;
}

.contactname {
    font-size: 14px;
}

.priospan {
    font-size: 16px;
}

.progresstext {
    font-size: 16px;
}

.letter {
    margin: 0;
    font-size: 42px;
}

.buttonContainerSmall {
    display: none;
}

.addTaskTitle {
    display: flex;
    justify-content: space-between;
}

.divKategorie {
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    border-radius: 10px;
    margin-bottom: 14px;
    margin-top: 8px
}

.showsmallFieldBar {
    position: absolute;
    background-color: rgb(32, 42, 54);
    cursor: pointer;
    height: 160px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 100;
    padding: 8px;
    width: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0px 8px 25px 25px;
    margin-top: -40px;
    margin-left: 2px;
    color: white;
}

.statusField {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 0px;
}

.divKategorieCard {
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 10px;
    margin-bottom: 14px;
    margin-top: 8px;
    width: 150px;
}

.categoryheadline {
    display: flex;
    justify-content: center;
    background-color: #0038FF;
    border-radius: 10px;
    padding: 6px;
    width: 130px;
}

.iconcategorybar {
    display: none;
    width: 40px;
    height: 40px;
}

.profilebadge {
    width: 42px;
    height: 42px;
    border-radius: 45px;
    display: flex;
    border: 2px solid #FFFFFF;
    justify-content: center;
    align-items: center;
    color: white;
}

.responsiveDescription {
    max-height: 160px;
    overflow: auto;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 25%);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    overflow-y: auto;
    transition: right 5s ease;
}

.overlay.d-none {
    display: none;
}

.cardbig {
    background-color: white;
    padding: 20px;
    border-radius: 30px;
    max-width: 400px;
    width: 525px;
    text-align: left;
    position: relative;
    border: 2px solid #e9e7df;
    overflow: auto;
    scrollbar-width: none;
    animation: slideRight 0.5s ease-out forwards;
}

.missingInput {
    color: red;
    font-size: 18px;
    font-weight: bolder;
}


.subtasksValidation {
    display: flex;
    margin-left: 48px;
    color: red;
    text-decoration: underline;
    font-size: 13px;
}

#SubtaskLengthReached {
    margin-top: 15px;
}

.dragging-over {
    border: 2px dotted #868080;
    border-radius: 15px;
    background-color: #e1e1e1;
    height: 100%;
}


.showShubtaskError {
    display: flex;
    font-size: 15px;
    font-weight: bolder;
    color: red;
    margin-top: 5px;
}

@keyframes slideRight {
    0% {
        transform: translateX(100vw);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.close-button {
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: white;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
}

#darkOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 999;
    display: none;
}

.separatorTask {
    width: 2px;
    height: 440px;
    margin-top: 115px;
    background-color: #e4dedc;
}

.flexdirection {
    display: flex;
    flex-direction: column;
    margin-top: -5px;
}

.xButton {
    position: absolute;
    top: 70px;
    width: 32px;
    height: 32px;
    right: 65px;
}



.actionBigButton {
    background-color: white;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.actionBigTodo {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 28px;
    margin-bottom: 12px;
}

.iconTodoBig {
    width: 20px;
    margin-right: 5px;
}

.divSectionAddTask2 {
    margin-top: 100px;
}

.categoryEdit {
    display: flex;
}

@media(max-height: 450px) {
    .boardAddTask {
        height: 500px;
    }
}



@media(max-height: 350px) {
    .buttonContainerWhite {
        width: 50px;
    }

}