body {
    margin: 0;
    font-family: 'Inter';
    background-color: rgb(246, 247, 248);
}

h2 {
    font-size: 54px;
}

p,
label {
    font-size: 16px;
    margin-bottom: 8px;
    margin-top: 8px;
}


.title {
    font-size: 16px;
    margin-bottom: 8px;
    margin-top: 8px;
}

.drag-area {
    flex-grow: 1;
    min-height: 100px;
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    box-sizing: border-box;
    overflow: hidden;
}

.drag-area-highlight {
    background-color: rgba(0, 0, 0, 0.2);
}

.todo {
    background-color: white;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.35), 0px 3px 5px rgba(0, 0, 0, 0.5);
    border-radius: 24px;
    margin-bottom: 10px;
    padding: 8px;
    width: 252px;
    height: 263px;
}

.todo:hover {
    transform: rotate(5deg);
    cursor: pointer;
}

h3 {
    margin: 0;
}

.boardContacts {
    display: flex;
    max-width: 120px;
}

.contact-iconBoard {
    display: inline-flex;
    border-radius: 100%;
    background-color: red;
    width: 32px;
    height: 32px;
    justify-content: center;
    align-items: center;
    border: 2px solid white;
    margin-right: -8px;
}


.title {
    font-size: 16px;


}

.statusButton {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.paddingRight {
    padding-right: 10px;
}

.addTask {
    display: flex;
    justify-content: center;
    align-items: center;
}

.spaceBetween {
    display: flex;
    justify-content: space-between;
}

.alignCenter {
    align-items: center;
}

.search {
    border: none;
    height: 32px;
    width: 250px;
}

.searchContainer {
    height: 48px;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    margin-right: 16px;
    width: 312px;
}

.separator {
    height: 31px;
    width: 1px;
    background-color: #D1D1D1;
}

.buttonContainer {
    height: 48px;
    width: 160px;
    border-radius: 10px;
    background-color: #2A3647;
}

Button {
    height: 24px;
    width: 92px;
    color: #FFFFFF;
    font-size: 18px;
    border: none;
    background-color: #2A3647;
}




.boardAddTask {
    background-color: white;
    border-radius: 30px;
    border: 2px solid #e4dedc;
    display: flex;
    justify-content: center;
    margin-left: 150px;
    height: 870px;
    width: 1116px
}

.widthBoard {
    width: 90%;
    margin-left: 50px;
}

.bottomInfo {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

/*Header*/
.kanbanBoardTitle {
    font-size: 18px;
}

nav ul {
    list-style: none;
}

.icon {
    padding-right: 8px;
}

.width100 {
    width: 100%;
}

.red {
    color: red;
}

.displayFlex {
    display: flex;
    margin-top: 100px;
}

h1 {
    font-size: 48px;
}

/*Add Task*/
.divBoard {
    margin-left: 350px;
    margin-right: 50px;
}

.addTaskContainer {
    display: flex;
    justify-content: space-between;
}

.noTasks {
    grid-column: span 2;
    text-align: center;
    background-color: #dadada;
    color: #999;
    border: 2px dotted #ccc;
    padding: 10px;
    border-radius: 5px;
    display: block;
    width: 250px;
}

.inputTitle {
    width: 440px;
    height: 48px;
    border-radius: 10px;
    border: 1px solid #D1D1D1;
    margin-bottom: 24px;
    font-size: 20px;
    font-family: 'Inter';
}

.inputDescription {
    width: 440px;
    height: 120px;
    border-radius: 10px;
    border: 1px solid #D1D1D1;
    margin-bottom: 24px;
    font-size: 20px;
    font-family: 'Inter';
}

.marginTop {
    margin-top: 6px;
}

.divButtonButtom {
    width: 334px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.buttonContainerWhite {
    height: 56px;
    width: 126px;
    border-radius: 10px;
    background-color: white;
    color: black;
    border-radius: 10px;
    border: 1px solid #2A3647;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.buttonContainerdark {
    height: 56px;
    width: 160px;
    border-radius: 10px;
    background-color: #2A3647;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.buttonContainerPrio {
    height: 56px;
    width: 136px;
    border-radius: 10px;
    background-color: white;
    color: black;
    border-radius: 10px;
    border: 1px solid #eceef2;

}

.marginButtomButton {
    margin-bottom: 28px;
}

.divPaddingBottum {
    padding-bottom: 80px;
}

.subtasksInputfield {
    border: none;
    flex: 1;
    width: 350px;
    height: 40px;
    margin-right: 50px;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
}

.subtaskButton {
    background-color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 25px;
    margin-right: 6px;
    padding: 0;
    border-radius: 50px;
}

.divSubtask {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.subtaskButton:hover {
    background-color: #eceef2;
}

.subtaskList {
    background-color: #FFFFFF;
    width: 30px;
}

ul {
    width: 400px;
    font-size: 20px;
}

li {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.positionTask {
    display: none;
    position: absolute;
    top: 50%;
    left: 47%;
    transform: translate(-50%, -50%);
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.closeAddTask {
    background-color: #FFFFFF;
    margin-top: 70px;

}

.curser {
    cursor: pointer;

}

.AssignedTO_Container {
    width: 440px;
    height: 80px;
    margin-top: 8px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}


.marginTop {
    margin-top: 65px;
}

.Assign_Header {
    font-family: 'Inter';
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    width: 112px;
    height: 24px;
}

.select_container {
    width: 428px;
    height: 48px;
    border-radius: 10px;
    border: 1px solid #D1D1D1;
    display: flex;
    justify-content: space-between;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    background-color: #FFFFFF;
    padding: 10px;

    z-index: 1;
}

.arrow_drop_downaa {
    width: 24px;
    height: 24px;
}

.Selection_Container {
    width: 448px;
    height: 300px;
    background-color: #FFFFFF;
    position: absolute;
    margin-top: 74px;
    border-radius: 10px;
    border-radius: 10px;
    border: 1px solid #D1D1D1;
    padding-right: 0px;
    padding-top: 9px;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

.d_none {
    display: none;
}

.Selected_profiles_Container {
    display: flex;
}

.profile_Container {
    display: flex;
    width: 426px;
    height: 56px;
    justify-content: space-between;
    align-items: center;
}

.profile_container_header {
    width: 225px;
    height: 42px;
    gap: 16px;
    display: flex;
    align-items: center;
    padding: 7px 16px 7px 16px;

}

.check_img {
    width: 24px;
    height: 24px;
}

.checked_img {
    width: 24px;
    height: 24px;
}

.profile_Badge_assign {
    width: 42px;
    height: 42px;
    border-radius: 45px;
    display: flex;
    border: 2px solid #FFFFFF;
    justify-content: center;
    align-items: center;
}

.bg_color {
    background-color: #2A3647;
}

.color_white {
    color: #FFFFFF;
}

.single-contact-box {
    display: flex;
    justify-content: start;
    align-items: center;
}

.contact-icon {
    width: 30px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
    padding: 14px;
    border-radius: 50%;
    height: 26px;
}

span {
    font-size: 16px;
}

.letter {
    margin: 0;
    font-size: 42px;
}

.buttonContainerSmall {
    display: none;
}

.addTaskTitle {
    display: flex;
    justify-content: space-between;
    height: 150px;
}

.divKategorie {
    height: 30px;
    width: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 10px;
    margin-bottom: 14px;
    margin-top: 8px;
}

.profilebadge {
    width: 42px;
    height: 42px;
    border-radius: 45px;
    display: flex;
    border: 2px solid #FFFFFF;
    justify-content: center;
    align-items: center;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 25%);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.overlay.d-none {
    display: none;
}

.cardbig {
    background-color: white;
    padding: 20px;
    border-radius: 30px;
    max-width: 600px;
    width: 525px;
    text-align: left;
    position: relative;
    border: 2px solid #e9e7df;
}

.close-button {
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: white;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
}

@media(max-width: 1450px) {
    .divBoard {
        margin-left: 100px;
        margin-right: 50px;
    }

    .positionTask {
        left: 38%;
        width: 900px;
    }

    .inputTitle {
        width: 340px;
    }

    .inputDescription {
        width: 340px;
    }

    .select_container {
        width: 328px;
    }

    .divSectionAddTask {
        width: 360px;
    }

    .buttonContainerPrio {
        width: 110px;
    }
}

@media(max-width: 1220px) {
    .divBoard {
        margin-left: 60px;
        width: 1000px;
    }

    .drag-area {
        width: 220px;
    }
}

@media(max-width: 1090px) {
    .spaceBetween {
        flex-direction: column;
        align-items: stretch;
    }

    .text {
        font-weight: bold;
    }

    .drag-area {
        min-height: 100px;
    }

    .noTasks {
        width: 450px;
    }

    .addTaskButton {
        display: none;
    }

    .buttonContainerSmall {
        background-color: #2A3647;
        font-size: 18px;
        border: none;
        height: 37px;
        width: 63px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
    }

    .titleButtonBoard {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .button-d-none {
        display: none;
    }

    .searchContainer {
        width: 450px;
    }

    .positionTask {
        left: 35%;
        width: 840px;
        padding: 4px;
    }
}

@media(max-width: 920px) {
    .addTaskContainer {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }

    .addTaskTitle {
        display: flex;
        justify-content: space-between;
    }

    .separatorTask {
        display: none;
    }

    .positionTask {
        margin-top: 80px;
        width: 500px;
        padding-bottom: 90px;
        margin-top: 150px;
    }

    h2 {
        font-size: 48px;
    }

    .buttonContainerWhite {
        height: 56px;
        width: 100px;
    }

    .buttonContainerdark {
        height: 56px;
        width: 136px;
    }
}

@media(max-width: 680px) {
    .positionTask {
        left: 23%;
    }
}

@media(max-width: 580px) {
    .divBoard {
        width: 400px;
    }

    .noTasks {
        width: 350px;
    }

    .positionTask {
        width: 400px;
    }

    .widthBoard {
        width: 90%;
        margin-left: 24px;
    }

    .inputTitle {
        width: 300px;
    }

    .inputDescription {
        width: 300px;
    }

    .select_container {
        width: 290px;
    }

    .buttonContainerPrio {
        width: 96px;
        font-size: 14px;
    }

    .buttonContainerWhite {
        height: 56px;
        width: 75px;
    }

    ul {
        width: 300px;
        font-size: 20px;
    }

    .AssignedTO_Container {
        width: 300px;
    }
}

@media(max-width: 490px) {
    .divBoard {
        width: 250px;
    }

    .noTasks {
        width: 150px;
    }

    .search {
        border: none;
        height: 32px;
        width: 100px;
    }

    .searchContainer {
        width: 250px;
        display: flex;
        justify-content: space-between;
    }

    .separator {
        display: none;
    }

    .positionTask {
        left: 15%;
        width: 360px;
    }

    .divSectionAddTask {
        width: 300px;
    }

    .subtasksInputfield {
        margin-right: 0px;
    }
}

@media(max-width: 430px) {
    h2 {
        font-size: 36px;
    }

    p,
    label {
        font-size: 16px;
    }

    .inputTitle {
        font-size: 16px;
    }

    .inputDescription {
        font-size: 16px;
    }

    .Assign_Header {
        font-size: 16px;
    }

    span {
        font-size: 16px;
    }

    .buttonContainerWhite {
        display: none;
    }

    .buttonContainerdark {
        height: 56px;
        width: 123px;
        font-size: 16px;
    }

    .inputTitle {
        width: 250px;
    }

    .inputDescription {
        width: 250px;
    }

    .select_container {
        width: 230px;
    }

    .buttonContainerPrio {
        width: 80px;
        font-size: 14px;
    }

    .buttonContainerPrio {
        height: 40px;
        width: 80px;
    }

    .prioButton {
        width: 14px;
    }

    .subtasksInputfield {
        width: 200px;
    }

    .positionTask {
        left: 6%;
        width: 300px;
    }

    .divSectionAddTask {
        width: 250px;
    }
}

@media(max-width: 400px) {
    h1 {
        font-size: 48px;
    }

    .imgButton {
        display: block;
        height: 30px;
    }

    p,
    label {
        font-size: 18px;
    }

    .divBoard {
        margin-left: 30px;
    }
}

@media(max-width: 350px) {
    .widthBoard {
        width: 86%;
        margin-left: 14px;
    }

    .divSectionAddTask {
        width: 230px;
    }

    .inputTitle {
        width: 190px;
    }

    .inputDescription {
        width: 190px;
    }

    .select_container {
        width: 170px;
    }

    span {
        font-size: 12px;
    }

    p,
    label {
        font-size: 14px;
    }

    .subtasksInputfield {
        width: 100px;
    }

    .buttonContainerdark {
        height: 48px;
        width: 112px;
        font-size: 14px;
    }

    .positionTask {
        left: 0%;
        width: 250px;
    }

    .buttonContainerPrio {
        height: 44px;
        width: 62px;
        margin-right: 4px;
    }

    .marginButtomButton {
        margin-bottom: 28px;
        display: flex;
    }

    .AssignedTO_Container {
        margin-bottom: 24px;
    }
}