/* Mobiles Overlay für Kontaktformular */
.mobileNewContactOverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    display:none;
}

.mobileNewContactOverlay-hidden {
    display: none;
}


.overlay-add-contact-mobile {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 396px;
    z-index: 1000;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border-radius: 30px;
}

/* Oberer Teil - Blau */
.overlay-add-contact-mobile-top {
    background-color: #2A3647;
    width: 396px;
    height: 352px;
    text-align: center;
    color: white;
    border-radius: 30px 30px 0 0;
}

.overlay-add-contact-mobile-top h1 {
    font-size: 47px;
    text-align: left;
    margin-left: 20px; 
    margin-bottom:-15px;
    margin-top:130px;
}

.overlay-add-contact-mobile-top span {
    font-size: 20px;
    text-align: left; 
    margin-left: 20px;
    display: block;
    margin-top: 15px; 
}

.overlay-add-contact-mobile-top hr {
    width: 90px;
    border: 3px solid #29ABE2;
    margin-left: 20px;
    margin-top: 10px;
}


/* Profilbild */
.overlay-add-contact-profile-img-mobile {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 310px;
    left: 50%;
    transform: translateX(-50%); /* Profilbild horizontal zentrieren */
}

.overlay-add-contact-profile-img-mobile img {
    width: 120px; /* Bildgröße */
    height: 120px;
    border-radius: 50%;
}

/* Unterer Teil - Weiß */
.overlay-add-contact-mobile-bottom {
    background-color: white;
    width: 396px;
    height: 400px;
    border-radius: 0 0 30px 30px;
}

/* Eingabefelder */
.input-fields-add-contact-mobile {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 364px;
    margin: 80px auto 0 auto; /* Zentrieren und Platz nach oben */
}

.input-field-mobile {
    position: relative;
    display: flex;
    align-items: center;
    border: 1px solid #d1d1d1;
    border-radius: 10px;
    height: 41px;
}

.input-icon-mobile {
    position: absolute;
    right: 10px;
    width: 24px;
    height: 24px;
}

input[type="text"],
input[type="email"],
input[type="tel"] {
    width: 364px;
    border: none;
    outline: none;
    font-size: 24px;
    padding-left: 10px;
}

/* Create Contact Button */
.createContact-mobile-button {
    width: 202px;
    height: 51px;
    margin-top: 30px;
    font-size: 21px;
    border-radius: 8px;
    background-color: #2A3647;
    color: white;
    text-align: center;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px; /* Platz zwischen Text und Bild */
}

.check-icon-mobile {
    width: 24px; /* Bildgröße anpassen */
    height: 24px;
}

.createContact-mobile-button:hover {
    background-color: #29ABE2;
}

/* Formular-Buttons */
.mobile-form-buttons {
    display: flex;
    justify-content: center;
    width: 100%;
}

/* Close Button */
.close-button-mobile {
    position: absolute;
    top: 20px;
    right: 15px;
    width: 32px;
    height: 32px;
    cursor: pointer;
}


.close-button-mobile:hover {
    transform: scale(1.1);
}






@media(max-width: 1450px) {
    .sideblock {
        display: flex;
    }

    .d-none {
        display: none !important;
    }

    .kanbanBoardTitle {
        margin-left: 300px !important;
    }
}

@media(max-width: 1350px) {
    .headline-contacts {
        width: 500px;
        padding: 76px 30px 30px 16px;
    }

    .headline-contacts h1 {
        font-size: 56px;
    }

    .headline-contacts h2 {
        font-size: 24px;
    }

    .headline-contacts hr {
        height: 46px;
    }

    .contact-details-container {
        padding: 16px;
    }

    .largsingle-contact-box {
        gap: 46px;
    }

    .largcontactname {
        font-size: 42px;
    }

    .largcontact-icon {
        width: 100px;
        height: 100px;
        font-size: 42px;
    }

    .contactmailsection {
        padding-top: 40px;
    }

    .addnewcontactbutton {
        width: 302px;
    }

    .single-contact-box {
        width: 302px;
    }

    .contactlist {
        width: 350px;
        margin: 0 auto;
    }

    .contactlist-hr {
        width: 300px;
    }
}

@media(max-width: 1250px) {
    .headline-contacts {
        width: 450px;
        padding: 74px 28px 28px 10px;
    }

    .headline-contacts h1 {
        font-size: 48px;
    }

    .headline-contacts h2 {
        font-size: 22px;
    }

    .headline-contacts hr {
        height: 42px;
    }

    .contact-details-container {
        padding: 10px;
    }

    .largsingle-contact-box {
        gap: 36px;
    }

    .largcontactname {
        font-size: 36px;
    }

    .largcontact-icon {
        width: 80px;
        height: 80px;
        font-size: 38px;
    }

    .contactmailsection {
        padding-top: 36px;
    }

    .addnewcontactbutton {
        width: 252px;
    }

    .single-contact-box {
        width: 265px;
    }

    .contactlist {
        width: 300px;
        margin: 0 auto;
    }

    .contactlist-hr {
        width: 250px;
    }
}

@media(max-width: 1150px) {
    .contactview-container {
        display: none;
    }

    .middle-Section {
        overflow-y: hidden;
    }

    .contactlist {
        box-shadow: none;
        margin: 0 auto;
        scrollbar-width: none;
        -ms-overflow-style: none;
    }

    .contactlist::-webkit-scrollbar {
        display: none;
    }

    .addnewcontactbutton {
        display: none;
    }

    h2 {
        text-align: center;
    }

    .single-contact-box {
        width: 302px;
    }

    .contactlist {
        width: 350px;
        margin: 0 auto;
    }

    .contactlist-hr {
        width: 300px;
    }

    .add-contact-button {
        display: block;
        position: fixed;
        top: 450px;
        right: 20px;
        width: 56px;
        height: 56px;
        z-index: 100;
    }
}

@media(max-width: 800px) {
    body {
        overflow-x: hidden;
    }

    #mobileNewContactOverlay {
        display: none;
    }

    .sideblock {
        display: none;
    }

    .d-none {
        display: block !important;
    }

    .kanbanBoardTitle {
        margin-left: 0px !important;
    }

    .middle-Section {
        margin-left: 0;
        overflow-x: hidden;
    }

    .contactview-container {
        display: none;
        margin-top: 0px;
    }

    .contactview-container.active {
        display: block;
        position: absolute;
        top: 96px;
        left: 0;
        width: 100%;
        background: #f6f7f8;
        padding: 0;
        z-index: 4;
        overflow-y: auto;
        overflow-x: hidden;
    }

    .contactlist {
        padding-bottom: 122px;
    }

    .back-button {
        position: absolute;
        top: 70px;
        right: 20px;
        display: block;
    }

    .menu-button-img {
        position: absolute;
        width: 56px;
        height: 56px;
        top: 490px;
        right: 10px;
        display: block;
    }

    .headline-contacts h2 {
        font-size: 22px;
        text-align: left;
    }

    .headline-contacts {
        display: flex;
        flex-direction: column;
        padding-left: 16px;
    }

    .contact-details-container {
        padding: 16px;
        padding-top: 50px;
    }

    .headline-contacts hr {
        order: 2;
        height: 90px;
        border: 2px solid #29abe2;
        border-radius: 3px;
        transform-origin: center;
        margin: 0;
        width: 90px;
    }

    .editanddelete {
        display: none;
    }

    .context-menu {
        display: none;
        position: absolute;
        background-color: white;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        border-radius: 8px;
        z-index: 1000;
        right: 1px;
        top: 390px;
    }

    .menu-item {
        display: flex;
        align-items: center;
        padding: 10px 20px;
        cursor: pointer;
    }

    .menu-item:hover {
        background-color: #f6f7f8;
    }

    .menu-icon {
        margin-right: 10px;
    }

    .menu-button-img {
        display: block;
        cursor: pointer;
    }

    @media(max-width: 500px) {
        h2 {
            text-align: left;
        }

        .contactview-container.active {
            top: 40px;
        }

        .contactlist {
            padding: 0;
            padding-bottom: 122px;
        }

        .largsingle-contact-box {
            gap: 18px;
        }

        .largcontactname {
            letter-spacing: -2px;
            white-space: normal;
        }
    }
}

@media(max-width: 450px) {
    .overlay-add-contact-mobile {
        width: 336px;
    }
    
    .overlay-add-contact-mobile-top {
        width: 336px;
    }
 
    .overlay-add-contact-mobile-bottom {
        width: 336px;
    }
    
    
    .input-fields-add-contact-mobile {
        width: 304px;
    }
    
    input[type="text"],
    input[type="email"],
    input[type="tel"] {
        width: 280px;
    }
    
}