.d-none {
  display: none;
}

.mobileNewContactOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  display: none;
}

.menu-button-img {
  display: none !important;
}

.mobileNewContactOverlay-hidden {
  display: none;
}

.overlay-add-contact-mobile {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 396px;
  z-index: 1000;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border-radius: 30px;
}

.overlay-add-contact-mobile-top {
  background-color: #2a3647;
  width: 396px;
  height: 352px;
  text-align: center;
  color: white;
  border-radius: 30px 30px 0 0;
}

.overlay-add-contact-mobile-top h1 {
  font-size: 47px;
  text-align: left;
  margin-left: 20px;
  margin-bottom: -15px;
  margin-top: 130px;
}

.overlay-add-contact-mobile-top span {
  font-size: 20px;
  text-align: left;
  margin-left: 20px;
  display: block;
  margin-top: 15px;
}

.overlay-add-contact-mobile-top hr {
  width: 90px;
  border: 3px solid #29abe2;
  margin-left: 20px;
  margin-top: 10px;
}

.overlay-add-contact-profile-img-mobile {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 310px;
  left: 50%;
  transform: translateX(-50%);
}

.overlay-add-contact-profile-img-mobile img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
}

.overlay-add-contact-mobile-bottom {
  background-color: white;
  width: 396px;
  height: 400px;
  border-radius: 0 0 30px 30px;
}

.input-fields-add-contact-mobile {
  display: flex;
  flex-direction: column;
  gap: 13px;
  width: 364px;
  margin: 80px auto 0 auto;
}

.input-field-mobile {
  position: relative;
  display: flex;
  align-items: center;
  border: 1px solid #d1d1d1;
  border-radius: 10px;
  height: 37px;
  padding-right: 40px;
  padding-left: 5px;
}

.input-icon-mobile {
  position: absolute;
  right: 10px;
  width: 24px;
  height: 24px;
}

input[type="text"],
input[type="email"],
input[type="tel"] {
  width: 364px;
  border: none;
  outline: none;
  font-size: 24px;
  padding-left: 10px;
}

.createContact-mobile-button {
  width: 202px;
  height: 51px;
  margin-top: 20px;
  font-size: 21px;
  border-radius: 8px;
  background-color: #2a3647;
  color: white;
  text-align: center;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.save-button {
  width: 99px;
  height: 51px;
  border-radius: 10px;
  background-color: #2a3647;
  color: white;
  font-size: 20px;
  justify-content: center;
  align-items: center;
}

.delete-button {
  width: 82px;
  height: 51px;
  border-radius: 10px;
  background-color: white;
  font-size: 20px;
  justify-content: center;
  align-items: center;
}

.check-icon-mobile {
  width: 24px;
  height: 24px;
}

.createContact-mobile-button:hover {
  background-color: #29abe2;
}

.mobile-form-buttons {
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 20px;
}

.close-button-mobile {
  position: absolute;
  top: 20px;
  right: 15px;
  width: 32px;
  height: 32px;
  cursor: pointer;
}

.close-button-mobile:hover {
  transform: scale(1.1);
}

.input-field-mobile:focus-within {
  color: black !important;
  border-color: #94d5f0 !important;
  outline: none !important;
}

.menu-item {
  display: none;
}

@media (max-width: 1528px) {
  .headblock {
    height: 96px !important;
    padding: 20px 40px !important;
    left: 230px !important;
  }

  .kanbanBoardTitle {
    margin-left: 60px;
  }
}

@media (max-width: 1410px) {
  .middle-Section {
    margin-left: 0px;
  }
  .contactlist {
    margin-bottom: 50px;
  }
}

@media (max-width: 1450px) {
  .headblock {
    height: 96px !important;
    padding: 20px 40px !important;
    left: 0px !important;
  }

  .kanbanBoardTitle {
    margin-left: 300px !important;
  }
}

@media (max-width: 1350px) {
  .headline-contacts {
    width: 500px;
    padding: 76px 30px 30px 16px;
  }

  .headline-contacts h1 {
    font-size: 56px;
  }

  .headline-contacts h2 {
    font-size: 24px;
  }

  .headline-contacts hr {
    height: 46px;
  }

  .contact-details-container {
    padding: 16px;
  }

  .largsingle-contact-box {
    gap: 46px;
  }

  .largcontactname {
    font-size: 42px;
  }

  .largcontact-icon {
    width: 100px;
    height: 100px;
    font-size: 42px;
  }

  .contactmailsection {
    padding-top: 40px;
  }

  .addnewcontactbutton {
    width: 302px;
  }

  .single-contact-box {
    width: 302px;
  }

  .contactlist {
    width: 350px;
    margin: 0 auto;
    margin-bottom: 60px;
  }

  .contactlist-hr {
    width: 300px;
  }
}

@media (max-width: 1250px) {
  .headline-contacts {
    width: 450px;
    padding: 74px 28px 28px 10px;
  }

  .headline-contacts h1 {
    font-size: 48px;
  }

  .headline-contacts h2 {
    font-size: 22px;
  }

  .headline-contacts hr {
    height: 42px;
  }

  .contact-details-container {
    padding: 10px;
  }

  .largsingle-contact-box {
    gap: 36px;
  }

  .largcontactname {
    font-size: 36px;
  }

  .largcontact-icon {
    width: 80px;
    height: 80px;
    font-size: 38px;
  }

  .contactmailsection {
    padding-top: 36px;
  }

  .addnewcontactbutton {
    width: 252px;
  }

  .single-contact-box {
    width: 265px;
    gap: 10px;
  }

  .contactlist {
    width: 300px;
    margin: 0 auto;
    margin-bottom: 70px;
  }

  .contactlist-hr {
    width: 250px;
  }

  .contactCars-overview {
    width: 1140px;
  }
}

@media (max-width: 1150px) {
  body {
    overflow-x: hidden;
  }

  .contactview-container {
    display: none;
  }

  .middle-Section {
    overflow-y: hidden;
  }

  .contactlist {
    box-shadow: none;
    margin: 0 auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
  }

  .contactlist::-webkit-scrollbar {
    display: none;
  }

  .addnewcontactbutton {
    display: none;
  }

  h2 {
    text-align: center;
  }

  .single-contact-box {
    width: 302px;
  }

  .contactlist {
    width: 350px;
    margin: 0 auto;
    padding-bottom: 122px;
  }

  .contactlist-hr {
    width: 300px;
  }

  .add-contact-button {
    display: block;
    position: fixed;
    top: 690px;
    right: 10px;
    width: 56px;
    height: 56px;
    z-index: 1001;
  }

  #mobileNewContactOverlay {
    display: none;
  }

  .kanbanBoardTitle {
    margin-left: 0px !important;
  }

  .middle-Section {
    margin-left: 0;
    overflow-x: hidden;
  }

  .contactview-container.active {
    display: block;
    position: absolute;
    top: 96px;
    left: 0;
    width: 100%;
    background: #f6f7f8;
    padding: 0;
    z-index: 4;
    overflow-y: auto;
    overflow-x: hidden;
  }

  .back-button {
    position: fixed;
    top: 180px;
    right: 20px;
    display: block;
  }

  .menu-button-img {
    position: fixed;
    width: 56px;
    height: 56px;
    top: 750px;
    right: 10px;
    bottom: 80px;
    z-index: 1001;
    display: block !important;
  }

  .headline-contacts h2 {
    font-size: 22px;
    text-align: left;
  }

  .headline-contacts {
    display: flex;
    flex-direction: column;
    padding-left: 16px;
  }

  .contact-details-container {
    padding: 16px;
    padding-top: 50px;
    
  }

  .headline-contacts hr {
    order: 2;
    height: 90px;
    border: 2px solid #29abe2;
    border-radius: 3px;
    transform-origin: center;
    margin: 0;
    width: 90px;
  }

  .editanddelete {
    display: none;
  }

  .context-menu {
    position: fixed;
    display: none;
    top: 750px;
    right: 10px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    z-index: 1002;
    transform: translateX(100%);
    transition: transform 0.3s ease;
  }

  .context-menu.show {
    display: block;
    animation: slideIn 0.3s forwards; /* Startet das Einblenden */
  }

  .context-menu.hide {
    animation: slideOut 0.3s forwards; /* Startet das Ausblenden */
  }

  #contextMenu {
    display: none;
  }

  .menu-item {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    cursor: pointer;
  }

  .menu-item:hover {
    background-color: #f6f7f8;
  }

  .menu-icon {
    margin-right: 10px;
  }

  .menu-button-img {
    display: block;
    cursor: pointer;
  }
}

@media (max-width: 700px) {
  .largcontactname {
    white-space: normal;
    max-width: 98%;
    display: block;
  }
}

@media (max-width: 500px) {
  h2 {
    text-align: left;
  }

  .contactview-container.active {
    top: 40px;
  }

  .contactlist {
    padding: 0;
    padding-bottom: 122px;
  }

  .largsingle-contact-box {
    gap: 18px;
  }

  .largcontactname {
    letter-spacing: -2px;
    white-space: normal;
  }

  .middle-Section {
    margin-top: 80px;
  }

  .headblock {
    padding: 20px 30px 20px 30px !important;
    height: 40px !important;
    justify-content: space-between !important;
    padding: 20px 16px !important;
  }

  .back-button {
    top: 120px;
  }
}

@media (max-width: 450px) {
  .input-fields-add-contact-mobile {
    margin-top: 70px;
  }
  .overlay-add-contact-mobile {
    width: 336px;
  }

  .overlay-add-contact-mobile-top {
    width: 336px;
    height: 312px;
  }

  .overlay-add-contact-mobile-bottom {
    width: 336px;
    height: 350px;
  }

  .input-fields-add-contact-mobile {
    width: 304px;
  }

  input[type="text"],
  input[type="email"],
  input[type="tel"] {
    width: 250px;
  }

  .overlay-add-contact-profile-img-mobile {
    top: 270px;
  }

  .mobile-form-buttons {
    position: absolute;
    top: 570px;
    display: flex;
    justify-content: center;
    margin-left: -17px;
  }

  .input-fields-add-contact-mobile {
    gap: 8px;
  }

  .createContact-mobile-button {
    height: 41px;
  }
}

@media (max-height: 850px) {
 
  .menu-button-img {
    top: 600px;
  }

  .context-menu {
    top: 660px;
  }
}

@media (max-height: 750px) {
  .add-contact-button,
  .menu-button-img {
    top: 580px;
  }

  .context-menu {
    top: 550px;
  }
}

@media (max-height: 670px) {
  .add-contact-button,
  .menu-button-img {
    top: 520px;
  }

  .context-menu {
    top: 490px;
  }

  .contactmailsection {
    padding-top: 20px;
  }
  .contact-details-container {
    padding-top: 40px;
  }

  .contactinfo {
    padding: 30px 0px;
  }

  .headline-contacts {
    padding: 70px 28px 28px 10px;
  }
}

@media (min-height: 850px) {
  .add-contact-button,
  .menu-button-img {
    top: 710px;
  }

  .context-menu {
    top: 680px;
  }
}

@media (min-height: 890px) {
  .add-contact-button,
  .menu-button-img {
    top: 755px;
  }

  .context-menu {
    top: 725px;
  }
}

@media (min-height: 900px) {
  .add-contact-button,
  .menu-button-img {
    top: 775px;
  }

  .context-menu {
    top: 745px;
  }
}

@media (min-height: 1100px) {

  .menu-button-img {
    top: 1020px;
    right: 20px;
  }

  .context-menu {
    top: 990px;
    right: 20px;
  }
}

@media (min-height: 1300px) {
  .add-contact-button,
  .menu-button-img {
    top: 1200px;
    right: 20px;
  }

  .context-menu {
    top: 1170px;
    right: 20px;
  }
}

@keyframes slideIn {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slideOut {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(100%);
  }
}
