body {
    margin: 0;
    font-family: "inter", sans-serif;
}

.headlinecontactsstyle {
    font-size: 61px;

}

.headline-contacts {
    display: flex;
    gap: 30px;
    align-items: center;
}

.contactview {
    display: flex;
    padding: 10px 40px;
}

.middle-Section {
    margin-left: 220px;
    width: calc(100vw - 232px);
    display: flex;
    align-items: flex-start;
}

.contactshead {
    display: flex;
    gap: 30px;
}

.headline-hr {
    border: 1px solid blue;
    margin-block-start: 2.8em;
    margin-block-end: 2.5em;

}

button {
    background-color: #2A3647;
    color: white;
    font-size: 18px;
    padding: 10px 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
}


.contactlist {
    padding-top: 30px;
    width: 456px;
    box-shadow: 4px 0px 6px 0px #00000014;
    display: flex;
    flex-direction: column;
    padding: 40px 0px 0px 65px
}

.newcontactbutton {
    display: flex;
    align-items: center;
}

.contacts-alphabet {
    display: flex;
    padding: 12px 50px;
    flex-direction: column;
    font-size: 21px;
}

.contactlist-hr {
    border: 1px solid;
    width: 350px;
    margin: 0px;
    margin-block-start: 6px;
    color: #cfd3d1;
    margin-top: 5px;
}


.single-contact-box {
    padding: 15px 24px;
    display: flex;
    gap: 35px;
    margin-top: 8px;
    border-radius: 8px;
    align-items: center;
}


.single-contact-box:hover {
    background-color: #2a3647;
    border-radius: 10px;
}

.contact-icon {
    border-radius: 100%;
    padding: 15px;
    background-color: red;
    color: white;
    font-size: 12px;
    display: flex;
}

.contactname {
    font-size: 24px;
    font-weight: 500;
}

.contact-content {
    display: flex;
    flex-direction: column;
    gap: 10px;

}

.contactmail {
    text-decoration: none;
    color: #0a00fb;
    font-size: 16px;
}


.largsingle-contact-box {
    padding: 0px 60px;
    display: flex;
    gap: 60px;
    border-radius: 8px;
    align-items: center;
}


.largcontact-icon {
    border-radius: 100%;
    padding: 30px;
    background-color: red;
    color: white;
    font-size: 47px;
    display: flex;
}



.largcontactname {
    font-size: 47px;
    font-weight: 600;
}

.largcontact-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
}


.editanddelete {
    display: flex;
    align-items: center;
    gap: 5px;
}

.deletecontent {
    display: flex;
    align-items: center;
    gap: 5px;
}

.deletecontent:hover {
    color: #1009ef;
    filter: invert(53%) sepia(96%) saturate(406%) hue-rotate(155deg) brightness(92%) contrast(92%);
}

.edit {
    margin-right: 30px;
    cursor: pointer;
}


.editicon {
    cursor: pointer;
    width: 24px;
    height: 24px;
}

.delete {
    cursor: pointer;

}


.deleteicon {
    cursor: pointer;
    width: 24px;
    height: 24px;

}

.contactinfo {
    display: flex;
    flex-direction: column;
    padding: 40px 30px 30px 60px;
}


.contactmailsection {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-top: 50px;

}

.contactinfoname {
    font-size: 24px;
}

.contactphonesection {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-top: 30px;

}


.contactphone {
    text-decoration: none;
    color: black;
    font-size: 18px;
}


.contactmailadress {
    text-decoration: none;
    font-size: 18px;
}


.Emailname {
    font-size: 18px;
    font-weight: bold;
}


.phonename {
    font-size: 18px;
    font-weight: bold;
}

.editcontent {
    gap: 5px;
    display: flex;
    align-items: center;
}


.editcontent:hover {
    color: #1009ef;
    filter: invert(53%) sepia(96%) saturate(406%) hue-rotate(155deg) brightness(92%) contrast(92%);
}



.newContact {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    justify-content: center;
    align-items: center;
    display: flex;
    background: rgba(0, 0, 0, 0.8);
}

.contactCars-overview {
    display: flex;
    height: 592px;
    width: 1212px;
    position: relative;
}

.leftside {
    display: flex;
    color: white;
    background-color: rgb(42, 54, 71);
    width: 467px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

.right-side {
    position: relative;
    background-color: white;
    width: calc(100% - 467px);
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.contactlogo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 64px;
}

.input-container {
    display: flex;
    flex-direction: column;
    gap: 32px;
    height: 215px;
    width: 422px;
}

.addcontactheadline {
    font-weight: 700;
    font-size: 61px;
    margin-top: 16px;
    margin-bottom: 16px;
    width: 371px;
}

.addcontactsecondline {
    font-size: 27px;
    font-weight: 400;
    letter-spacing: 1px;
}

.hrnewcontact {
    margin-block-start: 20px;
    border: 2px solid #29ABE2;
    width: 90px;
    border-radius: 3px;
    margin: 0;
    margin-top: 16px;
}

.hrdiv {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

#name:focus,
#mail:focus,
#telephone:focus {
    border-color: #94D5F0;
    color: black;
    outline: none;
}

input::placeholder {
    color: #d1d1d1;
}

.addNewContactimg {
    height: 120px;
    width: 120px;
    margin-top:-80px;
}

.input-container {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.input-field {
    display: flex;
    justify-content: space-between;
    border: 1px solid #d1d1d1;
    border-radius: 10px;
    padding: 10px;
    height: 50px;
}

.input-icon {
    width: 24px;
    height: 24px;
}

input[type="text"],
input[type="email"],
input[type="tel"] {
    border: none;
    outline: none;
    font-size: 20px;
    color: #d1d1d1;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus {
    color: black;
    border-color: #94D5F0;
}

input::placeholder {
    color: #d1d1d1;
}

.two-buttons {
    display: flex;
    gap: 24px;
    margin-top: 32px;
}

.cancel-button, .createContact-button {
    border-radius: 10px;
    padding: 16px;
    font-size: 20px;
}

.cancel-button {
    width: 126px;
    height: 56px;
    background-color: white;
    color: black;
    border: 1px solid #d1d1d1;
    font-weight: 400;
}

.cancel-button:hover {
    background-color: white;
    color: #5EC0E9;
    border-color: #5EC0E9;
    border-width: 2px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.cancel-button:hover .closethewindow-button {
    filter: invert(57%) sepia(70%) saturate(1822%) hue-rotate(165deg) brightness(99%) contrast(101%);
}

.createContact-button {
    display: flex;
    align-items: center;
    background-color: #2a3647;
    height: 57px;
    border-radius: 10px;
    padding: 16px;
    gap: 4px;
    border: 1px solid #2a3647;
    font-size: 21px;
    line-height: 24px;
    color: #ffffff;
    font-weight: 700;
}

.createContact-button:hover {
    background-color: #5EC0E9;
    color: white;
    border-color: #5EC0E9;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}


.closethewindow-button {
    position: absolute;
    top: 48px;
    right: 80px;
    width: 32px; /* Größe des Schließen-Buttons */
    height: 32px;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}

.closethewindow-button:hover {
    transform: scale(1.1); 
}
