body {
    margin: 0;
    background-color: #F6F7F8;
    font-family: 'Inter';
    font-weight: 400;
}


.middle-Section-Privacy  {
    font-family: "inter", sans-serif;
    margin-left: 328px;
    margin-right: 50px;
    margin-top: 200px;

}

.middle-Section-Privacy h1{
    font-size: 48px;
}


a {
    text-decoration: none;
   
}


.top-right-img {
    position: absolute;
    top: 180px;
    right: 40px;
    cursor: pointer; 
    width: 40px; 
    height: 40px;
}

@media(max-width: 1530px) {
    .d-none {
        display: block;
    }

.middle-Section-Privacy {
    margin-left: 260px;
    margin-right:20px;
    margin-top: 100px;
    margin-bottom:100px;
    overflow-x: hidden;
}

}

@media(max-width: 1431px) {
    .d-none {
        display: block;
    }

.middle-Section-Privacy {
    margin-left: 20px;
    margin-right:20px;
    margin-top: 100px;
    margin-bottom:100px;
    overflow-x: hidden;
}

}

@media(max-width: 800px) {
    .top-right-img {
    position: absolute;
    top: 140px;
    right: 40px;
    cursor: pointer; 
    width: 40px; 
    height: 40px;
}
    }


@media(max-width: 500px) {
    .middle-Section-Privacy {
        margin-top: 50px;
    }

    .top-right-img {
        position: absolute;
        top: 100px;
        right: 40px;
        cursor: pointer; 
        width: 40px; 
        height: 40px;
    }

}


