body {
    margin: 0;
    background-color: #F6F7F8;
    font-family: 'Inter';
    font-weight: 400;
}

.middle-Section-Privacy {
    font-family: "inter", sans-serif;
    margin-left: 328px;
    margin-right: 50px;
    margin-top: 200px;
}

