body {
    margin: 0;
    box-sizing: border-box;
    }
    
    .loginheadline {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:  70px 100px 0px 100px;
    }

    
    
    .loginlogo {
        width: 100px;
        height: 122px;
    }


    .loginscreen {
        position: absolute;
    width: 274px;
    height: 335px;
    top: 50%;
    left: 50%;
    z-index: 100;
    }
    
    .notajoinUser {
        font-size: 20px;
        font-weight: 500;
        margin-right: 20px;
    }
    
    
    .signupsection {
    background-color: #2A3647;
    color: #fff;
    border: none;
    border-radius: 10px;
    padding: 18px;
    
    }
    
    .signupsection:hover {
        background-color: #0068fa;
        font-weight: bolder;
        cursor: pointer;
        font-size: 20px;
    }
    
    .register {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: white;
        padding: 0px 0px 50px 4px; 
        border-radius: 30px;
        gap: 8px;
        box-shadow: 3px 0px 14px 21px #d9bebe0a;
        width: 630px;
        height: 595px;
        justify-content: center;
        position: fixed;
        top: 248px;
        left: 600px;
        right: 0;
        bottom: 0;
    }
    
        .signuphr {
            border: 2px solid blue;
            width: 25%;
            margin-block-start: 0;
    
        }
    
        .login-headline{
        font-size: 61px;
        font-weight: 700;
        margin-block-end: 6px;
    
        }
    
        .inputemailsection {
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            padding: 11px 11px;
            border: 1px solid gray;
            border-radius: 20px;
            margin-top: 20px;
            cursor: pointer;
        }
    
    
        .inputpasswordsection {
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            padding: 11px 11px;
            border: 1px solid gray;
            border-radius: 20px;
            margin-top: 20px;
            cursor: pointer;
        
        }


        .inputenamesection {
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            padding: 11px 11px;
            border: 1px solid gray;
            border-radius: 20px;
            margin-top: 20px;
            cursor: pointer;
        
        }
    
    
            .inputname {
                border: none;
                padding: 5px;
                width: 100%;
                cursor: pointer;
                font-size: 16px;
            }
    
            .inputemail {
                border: none;
                padding: 5px;
                width: 100%;
                cursor: pointer;
                font-size: 16px;
                }
                
                .inputconfirmpassword {
                    border: none;
                    padding: 5px;
                    width: 100%;
                    cursor: pointer;
                    font-size: 16px;
                    }    

            
            .inputpassword {
                border: none;
                padding: 5px;
                width: 100%;
                cursor: pointer;
                font-size: 16px;
                }
    
                .mailicon {
                    margin-left: 120px;
                    cursor: pointer;
                }
    
                .checkboxsection {
                    padding: 30px 0px 24px 90px;

                }
        
                .loginbutton{ 
                font-weight: bolder;
                padding: 15px;
                border-radius: 10px;
                border: none;
                background-color: #2A3647;
                color: white;
                font-size: 20px;
            }
    
    
            .loginbutton:hover {
                background-color: #0068fa;
                font-weight: bolder;
                cursor: pointer;
                font-size: 20px;
            }
    
            .guestbutton {
                font-weight: bolder;
                padding: 15px;
                border-radius: 10px;
                background-color: white;
                color: black;
                font-size: 20px;
            }
    
    
            .guestbutton:hover {
                color: #0068fa;
                border: solid 1px #0068fa;
                box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
        
            }
    
            .Rememberme {
                font-size: 18px;
            }
    
            .loginandgustbutton {
                display: flex;
                gap: 35px;
                padding: 0px 25px 39px 0px;
                justify-content: center;
            }