@font-face {
    font-family: myFont;
    src: url(./assets/font/Open_Sans/OpenSans-VariableFont_wdth\,wght.ttf);
}

body {
    margin: 0;
    font-family: myFont;
    background-color: rgb(246, 247, 248);
}

.middle-Section {
    font-family: "inter", sans-serif;
    margin-left: 328px;
    margin-right: 50px;
}