body {
    margin: 0;
    font-family: 'Inter', sans-serif;
    background-color: rgb(246, 247, 248);
}

.middle-SectionSummary {
    margin-left: 328px;
    display: flex;
    margin-top: 150px;
    height: auto;
}

.kanbanBoardSection {
    margin-bottom: 60px;
}


.summary_title_big {
    font-size: 61px;
    font-weight: 700;
    margin-block-start: 0;
    margin-block-end: 0;
}

.summary_headline {
    display: flex;
    align-items: center;
    gap: 30px;
    margin-top:20px;
}


.summary_hr {
margin-block-start: 0;
margin-block-end: 0;
margin-inline-start: 0;
border: 2.5px solid #29abe2;
border-radius: 3px;
height: 80px;
}


    .summary_secondline {
    font-size: 27px;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    flex: 5;
    font-weight: 300;    
    }


    .kanbanboradtodo {    
        display: flex;
        margin-top: 50px;
        height: 168px;
        border: solid 1px;
        background-color: white;
        border-radius: 25px;
        text-align: center;
        justify-content: flex-start;
        max-width: 268px;
        border-color: white;
        box-shadow: 0px 0px 38px rgba(0, 0, 0, 0.35), 18px 10px 23px rgba(0, 0, 0, 0.5);
        background: #FFFFFF;
        animation-timing-function: ease-out;
        animation-duration: 80ms;

    }


    .greetingTheContact {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    }


.loginstylesuccessfully {
    font-size: 47px;
    font-weight: bolder;
    position: absolute;
    top:530px;

}


    .kanbanboradtodo:hover {
        transform: scale(1.00);
        box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3);
        background-color: #2A3647;
        cursor: pointer;
        color: white;
    }
    
    


    .imgtodo {
    width: 69px;
    height: 69px;

    }


    .contentodoboard {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 50px;
    gap: 35px;
    
    }


    .kanbandboardtodocompartment {
    display: flex;
    flex-direction: column;
    gap: 5px;
}


.todonummber {
font-size: 64px;
font-weight: 600;
}

.todotext {
font-size: 20px;
font-weight: 400;
}


.kanbanboradtodoanddone {
display: flex;
gap: 45px;
}



.kanbanboraddone {    
    display: flex;
    margin-top: 50px;
    height: 168px;
    border: solid 1px;
    background-color: white;
    border-radius: 25px;
    text-align: center;
    justify-content: flex-start;
    max-width: 268px;
    border-color: white;
    box-shadow: 0px 0px 38px rgba(0, 0, 0, 0.35), 18px 10px 23px rgba(0, 0, 0, 0.5);
    background: #FFFFFF;
    animation-timing-function: ease-out;
    animation-duration: 80ms;

}


.kanbanboraddone:hover {
    transform: scale(1.00);
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3);
    background-color: #2A3647;
    cursor: pointer;
    color: white;
}


.imgdone {
width: 69px;
height: 69px;

}


.contendoneboard {
display: flex;
justify-content: flex-start;
align-items: center;
padding: 50px;
gap: 35px;

}


.kanbandboarddonecompartment {
display: flex;
flex-direction: column;
gap: 5px;
}


.donenummber {
font-size: 64px;
font-weight: 600;
}

.donetext {
font-size: 20px;
font-weight: 400;
}

.kanbanboardprio {
    display: flex;
    margin-top: 29px;
    height: 168px;
    border: solid 1px;
    background-color: white;
    border-radius: 25px;
    text-align: center;
    justify-content: flex-start;
    max-width: 555px;
    border-color: white;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.1), 11px 27px 30px rgba(0, 0, 0, 0.5);
    background: #FFFFFF;



}

.kanbanboardprio:hover {
    transform: scale(1.00);
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3);
    background-color: #2A3647;
    cursor: pointer;
    color: white;
}


.prioimgsection {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 60px;
    gap: 35px;

}


.priocompartment {
display: flex;
flex-direction: column;
}

.prionummber {
    font-size: 64px;
    font-weight: 600;
}


.priotext {
    font-size: 20px;
    font-weight: 400;
}

.hrpriocontent {
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    border: 1.5px solid #d1cccc;
    border-radius: 3px;
    height: 100px;
}


.datekanbanboard {
    font-size: 21px;
    font-weight: 700;

}


.Upcoming-Deadline {
    font-size: 16px;
    font-weight: 400;
}

.contentdate {
display: flex;
flex-direction: column;
gap:10px

}



.taskboard {
    display: flex;
    margin-top: 29px;
    height: 168px;
    border: solid 1px;
    background-color: white;
    border-radius: 25px;
    text-align: center;
    justify-content: flex-start;
    max-width: 170px;
    border-color: white;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.35), 18px 10px 23px rgba(0, 0, 0, 0.5);
    background: #FFFFFF;


}

.taskboard:hover {
    transform: scale(1.00);
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3);
    background-color: #2A3647;
    cursor: pointer;
    color: white;
}


.taskinBoardcompartment {
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

.Tasknumber {
    font-size: 64px;
    font-weight: 700;

}


.Tasktext {
    font-size: 16px;
    font-weight: 400;

}

.thridsectionsummary {
    display: flex;
    gap:20px
}


@media (max-width: 1528px) {

    .sideblock {
        display: flex;
    }
    .headblock {
        height: 96px;
        padding: 20px 40px ;
        left: 230px ;
    }

    .kanbanBoardTitle {
        margin-left: 60px;
    }
}

@media (max-width:1450px) {
    
    .sideblock {
        display: flex;
    }

    .d-none {
        display: none !important;
    }

    .kanbanboardprio:hover {
        transform: scale(1.05);
    }
    
}

@media (max-width:1250px){
.loginstylesuccessfully {
    display:none;

}

    .greetingTheContact {
        display:none
    }

}


@media (max-width:950px){
    .sideblock {
        display: none;
    }

    .d-none {
        display: block !important;
    }

    .middle-SectionSummary {
        margin-left: 0;
        overflow-x: hidden;
        display: block;
    }

    .headblock {
        padding: 20px 16px 20px 16px;
        height: 80px;
        left:0px;
    }

    .kanbanBoardTitle {
        margin-left: 0;
    }


    .greetingTheContact {
        display: none;
    }


    .kanbanBoardSection {
        display: flex;
        flex-direction: column;
        padding: 20px;
    }

.summary_hr {
    display: none;
}

.summary_headline {
    display: block;
    margin-top: 10px;
}

.summary_secondline {
    
margin-block-start: 10px;


}
.kanbanBoardSection {
    align-items: center;
}   

.newhr {
    margin-block-start: 5px;
    margin-block-end: 0px;
    margin-inline-start: 0;
    border: 2.5px solid #29abe2;
    border-radius: 3px;
    width: 300px;
}

.thridsectionsummary {
    display: flex;
    gap:30px
}

.kanbanboradtodoanddone {
    display: flex;
    gap: 26px;
}

.kanbanboradtodo {
    height: 110px;
    width: 200px;
    text-align: center;
    justify-content: center;
}

.imgtodo {
    width: 50px;
    height: 50px;
}


.todonummber {
    font-size: 40px;

}

.contentodoboard {
    gap:25px;
    padding: 0px;
}

.todotext {
    font-size: 14px;
}

.kanbanboraddone {
    height: 110px;
    width: 200px;
    text-align: center;
    justify-content: center;
}

.imgdone {
    width: 50px;
    height: 50px;
}


.donenummber {
    font-size: 40px;

}

.contendoneboard {
    gap:25px;
    padding: 0px;
}


.donetext {
    font-size: 14px;
}


.kanbanboardprio {
    height: 110px;
    width: 425px;
}

.prioimg {
    width: 50px;
    height: 50px;
}


.prionummber {
    font-size: 40px;
}


.priotext {
    font-size: 16px;  
}

    .prioimgsection {
    padding: 15px;
    gap: 25px;

    }

    .priosection {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.datekanbanboard {
    font-size: 20px;
}

.Upcoming-Deadline {
    font-size: 14px;
}




.taskboard {
    height: 110px; 
    text-align: center;
    justify-content: center;
    width: 120px;
}


.taskboard:hover {
    transform: scale(1.0);
}

.taskinBoardcompartment {
    padding: 0;
}


.Tasknumber {
    font-size: 40px;

}



.Tasktext {
    font-size: 14px;
}

}

@media (max-width: 650px) {
    .kanbanBoardSection {
        align-items: flex-start;
    }
}
@media (max-width:500px) {

    .summary_headline {
        align-items:flex-start;
    }

    .summary_title_big {
        font-size: 40px; 
    }


    .summary_secondline {
        font-size: 18px;
    }


    .summary_headline {
        flex-direction: column;
        display: flex;
        margin-top: 10px;
        gap: 0px;
    }

    .newhr {
        width: 200px; 
    }     


    .kanbanboradtodo {
    width: 186px;
    }

    .imgtodo {
        width: 45px;
        height: 45px;
    }


    .kanbanboraddone {
        width: 186px;
        }
    
        .imgdone {
            width: 45px;
            height: 45px;
        }
    
        .kanbanboardprio {
        width: 400px;

}

.headblock {
    padding: 20px 30px 20px 30px;
    height: 40px;
    justify-content: space-between;
    padding: 20px 16px;

}




.prioimg {
    width: 45px;
    height: 45px;
}



.datekanbanboard {
    font-size: 18px;
}



.taskboard {
    width: 110px;
}



.kanbanBoardSection {
    padding: 10px;
    position: absolute;
        top: 120px;
}

@media (max-width:420px) {


    .summary_title_big {
        font-size: 40px; 
    }


    .summary_secondline {
        font-size: 18px;
    }


    .summary_headline {
        flex-direction: column;
        display: flex;
        margin-top: 10px;
        gap: 0px;
    }



    .newhr {
        width: 180px; 
    }     


    .kanbanboradtodo {
    width: 166px;
    }

    .imgtodo {
        width: 35px;
        height: 35px;
    }


    .kanbanboraddone {
        width: 166px;
        }
    
        .imgdone {
            width: 35px;
            height: 35px;
        }
    
        .kanbanboardprio {
        width: 360px;

}




.prioimg {
    width: 35px;
    height: 35px;
}



.datekanbanboard {
    font-size: 18px;
}



.taskboard {
    width: 99px;
}



.kanbanBoardSection {
    padding: 10px;
    position: absolute;
        top: 120px;
}
}}

@media (max-height: 680px) {
    .kanbanBoardSection {
        padding: 6px;
        position: absolute;
        top: 50px;
    }

    .summary_headline {
        margin-top: 30px;
    }

    .kanbanboradtodo {
        margin-top:30px;
    }
    
    .kanbanboraddone {
        margin-top:30px;
    }


}